Source: mako
Section: python
Priority: optional
Maintainer: Piotr Ożarowski <piotr@debian.org>
Uploaders: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Build-Depends: debhelper (>= 5.0.38)
Build-Depends-Indep: python (>= 2.3.5-11), python-all-dev, python-central (>= 0.5.6), python-setuptools (>= 0.6b3-1)
Standards-Version: 3.7.2
XS-Python-Version: all
XS-Vcs-Svn: svn://svn.debian.org/python-modules/packages/mako/trunk
XS-Vcs-Browser: http://svn.debian.org/wsvn/python-modules/packages/mako/trunk/?op=log

Package: python-mako
Architecture: all
Depends: ${python:Depends}, python-myghtyutils
Provides: ${python:Provides}
Enhances: python-pylons, python-turbogears, python-pygments
XB-Python-Version: ${python:Versions}
Description: hyperfast and lightweight templating for the Python platform
 Mako is a template library written in Python. It provides a familiar, non-XML
 syntax which compiles into Python modules for maximum performance. Mako's
 syntax and API borrows from the best ideas of many others, including Django
 templates, Cheetah, Myghty, and Genshi. Conceptually, Mako is an embedded
 Python (i.e. Python Server Page) language, which refines the familiar ideas of
 componentized layout and inheritance to produce one of the most
 straightforward and flexible models available, while also maintaining close
 ties to Python calling and scoping semantics.
 .
  Homepage: http://www.makotemplates.org/
