#!/usr/bin/make -f

#export DH_VERBOSE=1

PYVERS=$(shell pyversions -vr)

clean:
	dh_testdir
	dh_testroot
	rm -f build-*
	rm -rf build
	find . -name '*\.py[co]' -delete
	dh_clean

build:

install: $(PYVERS:%=install-python%)
	dh_install
	mv $(CURDIR)/debian/python-mako/usr/share/vim/addons/indent/mako_indent.vim \
	   $(CURDIR)/debian/python-mako/usr/share/vim/addons/indent/mako.vim

install-python%:
	python$* setup.py build_scripts	--executable=/usr/bin/python
	python$* setup.py install --prefix=/usr \
		--single-version-externally-managed \
		--root $(CURDIR)/debian/python-mako
	# dpkg handles dependencies way better than Python
	find $(CURDIR)/debian/python-mako -name requires.txt -type f -delete

binary-indep: build install
	dh_testdir -i
	dh_testroot -i
	dh_installchangelogs -i CHANGES
	dh_installdocs -i
	dh_installexamples -i
	dh_installman -i
	rm -rf debian/python-mako/usr/share/doc/python-mako/doc/build
	dh_pysupport -i
	dh_compress -i -X.py -Xmakotemplates.txt
	dh_fixperms -i
	dh_installdeb -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i -- -Z bzip2

binary-arch:

binary: binary-indep binary-arch

.PHONY: build clean binary-indep binary-arch binary install
